################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Test-Public-Repo/FileContentIndex/578a0211-d531-4c72-9a91-e6efb9bd7257.vsidx
/.vs/Test-Public-Repo/FileContentIndex/f557f35f-394d-433d-96e9-553b2a7ba7f9.vsidx
/.gitignore
